<% include ../partials/header.html %>

<!-- Custom CSS -->
<link href="../../custom/css/user_management/user_overview.css" rel="stylesheet">

<div id="wrapper">

    <% include ../partials/topbar.html %>

    <% include ../partials/left_sidebar.html %>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <hr style="margin-top: 0rem;margin-bottom: 1rem;">
       
        <!-- Start Content-->
        <div class="container-fluid">

            <nav class="navbar navbar-expand-sm navbar-dark p-0" style="border-bottom:1px solid #d4dae2;">
                <ul class="nav nav-tabs mr-auto" style="border:0">
                    <li class="nav-item">
                        <a href="#aws-tab" id="awsinfotab" data-toggle="tab" aria-expanded="false"
                            class="nav-link awsnav active">
                            <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                            <span class="d-none d-sm-block">Aws Info</span>
                        </a>
                    </li>

                </ul>
                <ul class="ml-auto" style="list-style: none;">
                    <li class="nav-item">
                        <button class="btn btn-xs btn-dark waves-effect waves-light" id="awsbtn" data-toggle="modal"
                            data-target="#awsinfoModal"> <i class="mdi mdi-account-plus mr-1"></i> <span>Add Aws Info
                                </span>
                        </button>
                    </li>
                </ul>
            </nav>


            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade show active" id="users-tab">
                    <div class="row">

                        <div class="col-md-12 user-listing-container">
                            <table id="aws_Info_table" class="table dt-responsive nowrap table-sm w-100">
                                <thead>
                                    <tr>
                                       
                                        <th>Access Key</th>
                                        <th>Secret Access Key</th>
                                        <th>Region</th>
                                        
                                    </tr>
                                </thead>

                                <tbody id="aws_Info_tbody">

                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4 user-overview-container">

                        </div>
                    </div>
                </div>

            </div>

       


        </div>

      
        
        <!-- container-fluid -->


      

        <% include ../partials/footer.html %>

    </div>

    <div class="modal fade" id="awsinfoModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalScrollableTitle">Add Aws Information</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action='' id='awsInfo-form' data-parsley-validate novalidate>

                        <div class="form-group">
                            <label for="name">Access Key Id</label>
                             <input class="form-control" type="text" id="accessKeyId" placeholder="Enter your access key id"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="email">Secret Access Key</label>
                            <input class="form-control" type="text" id="secretAccessKey" required 
                                placeholder="Enter your secret access key">
                        </div>
                        <div class="form-group">
                            <label for="password">Region</label>
                            <input class="form-control" type="text" required id="region"
                                placeholder="Enter your region">
                        </div>

                        <div class="form-group mb-0 text-center">
                            <button id="signin-btn" class="btn btn-sm btn-primary btn-block signin-btn" type="submit">
                                Sign Up </button>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>




  

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->

<% include ../partials/right_sidebar.html %>

<% include ../partials/foot.html %>

<!-- custom js -->
<script src="../../custom/js/aws/aws_info.js"></script>

</body>

</html>