.parsley-errors-list>li{
    font-size: .6rem
}

.toggle-sidebar{
    cursor: pointer;
}

td{
    font-size: .85rem !important
}

.mdi-22px{
    font-size: 22px;
}


/* ################### VIDEO JS CSS ################### */

.video-js{
    border: 1px solid #3b4452;
}

.vjs-big-play-centered .vjs-big-play-button {
    margin-top: -1em;
    margin-left: -1em;
}

.video-js .vjs-big-play-button {
    line-height: 1.7em;
    height: 1.8em;
    width: 1.8em;
    border: 0.06666em solid #fff;
    background-color: #2B333F;
    background-color: rgba(43, 51, 63, 0.7);
    border-radius: 50%;
}