.users-tbl-row.active{
    cursor: pointer;
    outline-offset: -1px;
    color: #151313;
    background-color: #b2e4ec;

}

.users-tbl-row:hover{
    cursor: pointer;
    outline-offset: -1px;
    color: #151313;
    background-color: #b2e4ec;
}



.all-groups-tbl-row.active{
    cursor: pointer;
    outline-offset: -1px;
    color: #151313;
    background-color: #b2e4ec;
}

.all-groups-tbl-row:hover{
    cursor: pointer;
    outline-offset: -1px;
    color: #151313;
    background-color: #b2e4ec;
}




.usersInGroup-tbl-row.active{
    cursor: pointer;
    outline-offset: -1px;
    color: #151313;
    background-color: #b2e4ec;
}

.usersInGroup-tbl-row:hover{
    cursor: pointer;
    outline-offset: -1px;
    color: #151313;
    background-color: #b2e4ec;
}

.group-name-link:hover, .groups-tab-breadcrumb:hover{
    text-decoration: underline;
}



.navbar-custom {
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%) !important;
    /* background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%) !important; */
    padding: 0 10px 0 0;
    position: fixed;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 100;
}





.left-side-menu-dark .left-side-menu {
    background-image: linear-gradient(to right, #434343 0%, black 100%) !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-right: 2px solid #3c4650;
}


.left-side-menu-dark .logo-box {
    background-color: #89f7fe;
}



.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #66a6ff;
    border-color: #66a6ff;
}